extends layout

block content
    #banner.page-header
        .row
            .col-md-6.col-sm-12
                h1= title
    .row
        .col-md-6.col-sm-12
            p
                | Some stuff and some other stuff about Llamas on the Loose Farm
                | <br /> <br />
                | Some other text and stuff we should put in here